.section-about {
    background-color: #f7f7f7;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.about {
    height: 35rem;
    overflow: hidden;
}

.section-feature {
    margin-top: -10rem;
    padding: 18rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-9deg);

    &>* {
        transform: skewY(9deg);
    }

    @include respond(tab-port) {
        padding: 15rem 0;
    }

    @include respond(phone) {
        padding: 10rem 0;
    }
}

.section-whyUs {
    padding: 20rem 0 5rem 0;
    background-color: #fff;
    margin-top: -11vh;
}

.section-what_We_Do {
    padding: 10rem 0 15rem 0;
    background-color: #fff;
}

.section-contact {
    border: 5px solid $color-primary;
    padding: 5rem 0;
    background-color: #fff;

}


.section-stories {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

    @include respond(phone) {
        padding: 8rem 0;
    }
}

.section-projects {
    padding: 20rem 0;
    background-color: #fff;
}